[Unit]
Description=Update Waterholes for IHM
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=<PATH>/update_geojson.sh

[Install]
WantedBy=multi-user.target
